body,h1,h2,h3,h4,h5,h6,p,ul,li {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 180%;
  color: #484848;
}

a {
  color: #908e11;
  transition-duration: 0.5s;
}

a:hover {
  color: #656314;
}

/* header */

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/header_bg.jpg);
  background-size: cover;
  background-position: center;
}

/* container */

.container {
  max-width: 800px;
  margin: 0 auto 100px;
}

.container:after {
  content: "";
  clear: both;
  display: block;
}

.container-right {
  float: right;
}

.container-left {
  float: left;
}

.title {
  text-align: center;
  margin: 60px 0;
  font-size: 26px;
}

.inner-title {
  margin: 0 0 10px;
  font-size: 20px;
}

.coming-soon {
  text-align: center;
  font-size: 46px;
  color: #e6e6e6;
  padding-bottom: 80px;
}

/* about */

.about-icon {
  font-size: 25px !important;
  vertical-align: -1px;
  color: #e87e28;
  margin-right: 10px;
}

.about-inner {
  margin-top: 50px;
  width: 360px;
}

/* ticket */

.ticket {
  text-align: center;
  margin: 0 0 100px;
}

.ticket a {
  padding: 16px 90px;
  background-color: #908e11;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  border-radius: 50px;
  display: inline-block;
}

.ticket a:hover {
  background-color: #656314;
}

/* history */

a.history {
  width: 380px;
  border: 1px solid #e6e6e6;
  text-align: center;
  line-height: 1;
}

a.history:hover {
  border: 1px solid #908e11;
}

.history img {
  border-bottom: 1px solid #e6e6e6;
}

.history p {
  padding: 14px;
}

/* banner */

.banner {
  text-align: center;
  
}

.banner img {
  display: inline-block;
  margin: 0 10px;
}

/* footer */

.footer {
  background-color: #242a37;
  padding: 100px 0;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.footer a {
  color: #fff;
}

.social li {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0 10px;
}

.social a {
  font-size: 18px;
  text-decoration: none;
}

/* form */

input[type="text"],
input[type="email"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 13px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

textarea {
  line-height: 160%;
}

input:focus,
textarea:focus {
  outline: 0;
  box-shadow:0 0 0 1px #908e11;
  border: 1px solid #908e11;
  box-sizing: border-box;
}

input[type="submit"] {
  display: block;
  padding: 10px 30px;
  line-height: 20px;
  background-color: #908e11;
  color: #fff;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  transition-duration: 0.5s;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #656314;
}

.w-300 {
  width: 300px;
}

.w-600 {
  width: 600px;
}
